<nav>
	<div class="mx-auto max-w-screen-xl px-8">
		<div class="font-rubik flex h-20 flex-col-reverse items-center justify-between px-4 pb-5 text-sm font-bold text-gray-800 dark:text-white md:flex-row">
			<a class="flex-shrink-0 text-center" href="https://github.com/sonicjhon1/strato-website/blob/master/LICENSE.md" target="_blank">© 2023 Strato Team and Contributors</a>
			<a class="flex-col justify-center text-center" href="/privacy-policy">Privacy Policy</a>
		</div>
	</div>
</nav>
